{% extends 'layout.html' %}

{% block content %}
<div class="form-floating mb-3 d-flex justify-content-center ">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Full name</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Phone">
  <label for="floatingPassword">Phone Number</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Email">
  <label for="floatingPassword">Email</label>
</div>
{% endblock content %}

